.container-fluid {
  text-align: center;
  color: white;
  background-color: #282c34;
  min-height:100vh;
}

.App-logo {
  height: 50px;
  display: inline-block;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ReactTube
{
  text-align: center;
  color: #61dafb;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.form-control
{
  margin-left: 20px;
  margin-top: 20px;
  width: 50%;
  height: 35px;
  display: inline-block;
}
.header-button
{
  margin-top: -3px;
  display: inline-block;
  color: #61dafb;
}
.header-button:hover
{
  background-color: #282c348a;
}
.header-button:focus, .header-button:active
{
  outline: none !important;
  box-shadow: none !important;
}
