.App {
  text-align: center;
  background-color: #282c34;
  min-width: 100vh;
  min-height: 100vh;
}

.App-logo {
  height: 50px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ReactTube
{
  text-align: center;
  color: #61dafb;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.form-control
{
  margin-left: 0px;
  margin-top: 20px;
  width: 400px;
  height: 35px;
  display: inline-block;
}
.header-button
{
  margin-top: -3px;
  display: inline-block;
  color: #61dafb;
}